.content {
    padding: 50px;
}

.divclass {
    height: inherit;
    min-height: 300px;
    max-height: 300px;
    min-width: 100px;
    max-width: 100px;
}

.bloc1,
.bloc2,
.bloc3 {
    display: flex;
    justify-content: right;
}

.form {
    min-width: 400px;
    max-width: 400px;
}

.textarea {
    min-height: 220px;
    max-height: 220px;
    min-width: 400px;
    max-width: 400px;
    resize: none;
}