<div class="content bloc1">

    <div>
        <mat-card class="divclass">
            <p>
                Banner Space
            </p>
        </mat-card>
    </div>


    <div>
        <img src="./../assets/imgs/download.jpg" class="md-card-image" alt="image caption" />
    </div>

    <form>
        <mat-form-field class="full-width" class="form ">
            <input [(ngModel)]="data" matInput placeholder="What place are you looking for?" aria-label="State" [matAutocomplete]="auto" [formControl]="searchLocation" required>
            <mat-autocomplete value="list" #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let location of locations" [value]="location.name" (click)="addLocation(location.name)">
                        <span><b>{{location.name}}</b> ({{location.name}})</span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <textarea matInput class="textarea">{{textarea}}</textarea>
        <div>
            <button type="submit" mat-raised-button [disabled]="!data" (click)="onSearch(data)">Click to search</button>
        </div>
    </form>
</div>